<div class="resultados-container">
  <h2>Resultados del Calculo</h2>
  <div class="card">
    <h3>Crédito Vehicular Inteligente</h3>

    <!-- Sección de VAN -->
    <div *ngIf="van !== undefined; else loadingVAN">
      <p><strong>Valor Actual Neto (VAN):</strong> {{ van | number:'1.2-2' }}</p>
    </div>
    <ng-template #loadingVAN>
      <p>Calculando el VAN...</p>
    </ng-template>

    <!-- Sección de TIR -->
    <div *ngIf="tir !== undefined; else loadingTIR">
      <p><strong>Tasa Interna de Retorno (TIR):</strong> {{ tir | number:'1.2-2' }} %</p>
    </div>
    <ng-template #loadingTIR>
      <p>Calculando la TIR...</p>
    </ng-template>

    <button>Volver</button>
  </div>
</div>
