<div class="resultados-container" style="background-image: url('assets/images/resf.jpg');; background-size: cover; background-position: center; text-align: center;">

  <mat-toolbar style="background-image: url('assets/images/resf.jpg');; background-size: cover; background-position: center; text-align: center;">
    <button mat-button routerLink="/configuration" routerLinkActive="active-link" class="btn-volver" style="color: white;">Volver</button>
    <h3 class="title-nav">Resultados del Calculo</h3>
    <span class="example-spacer"></span>
    <div class="btn">
      <button class="btn-img" mat-button>
        <img src="assets/images/logo.jpeg" alt="introduction-image" routerLink="/introduction" style="width: 80px; height: 80px">
      </button>
    </div>
    <!-- Añadir más botones según sea necesario -->
  </mat-toolbar>


  <div class="card" style="background-image: url('assets/images/inicio.jpg');; background-size: cover; background-position: center; text-align: center;">
    <h3><b>Crédito Vehicular Inteligente</b></h3>

    <!-- Sección de VAN -->
    <div *ngIf="van !== undefined; else loadingVAN">
      <p><strong>Valor Actual Neto (VAN):</strong> {{ van | number:'1.2-2' }}</p>
    </div>
    <ng-template #loadingVAN>
      <p>Calculando el VAN...</p>
    </ng-template>

    <!-- Sección de TIR -->
    <div *ngIf="tir !== undefined; else loadingTIR">
      <p><strong>Tasa Interna de Retorno (TIR):</strong> {{ tir | number:'1.2-2' }} %</p>
    </div>
    <ng-template #loadingTIR>
      <p>Calculando la TIR...</p>
    </ng-template>
    <button mat-button routerLink="/configuration" routerLinkActive="active-link" class="btn-volver" style="color: white;">Volver a la configuracion</button>
  </div>

</div>
