<div class="sign-in-wrapper" style="background-image: url('assets/images/carro.jpg');; background-size: cover; background-position: center; text-align: center;">
  <div class="sign-in-container" style="background-image: url('assets/images/inicio.jpg');; background-size: cover; background-position: center; text-align: center;">
    <h2>Iniciar sesión</h2>
    <img src="assets/images/logo.jpeg" alt="Iniciar sesión" class="login-image">
    <form [formGroup]="signInForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="email"><b>Email:</b></label>
        <input type="email" formControlName="email" id="email" required >
        <div *ngIf="signInForm.get('email')?.invalid && signInForm.get('email')?.touched">
          Debes ingresar un email válido.
        </div>
      </div>

      <div class="form-group">
        <label for="password" ><b>Contraseña:</b></label>
        <input type="password" formControlName="password" id="password" required >
        <div *ngIf="signInForm.get('password')?.invalid && signInForm.get('password')?.touched">
          La contraseña debe tener al menos 6 caracteres.
        </div>
      </div>

      <button type="submit" [disabled]="signInForm.invalid"><b>Iniciar sesión</b></button>
      <button type="button" (click)="goToSignUp()">Registrarse</button>
    </form>
  </div>
</div>
