<!-- introduccion.component.html -->
<div class="app-container">
  <mat-toolbar>
    <button mat-button routerLink="/oferta" routerLinkActive="active-link" class="btn-cliente" style="color: white;">Ofertas</button>
    <h3 class="title-nav">Crédito Vehicular Inteligente</h3>
    <span class="example-spacer"></span>
    <div class="btn">
      <button class="btn-img" mat-button>
        <img src="assets/images/logo.jpeg" alt="introduction-image" routerLink="/introduction" style="width: 80px; height: 80px">
      </button>
    </div>
    <!-- Añadir más botones según sea necesario -->
  </mat-toolbar>

  <div class="content">
    <div class="container">
      <div class="boxA">
        <img mat-card-image src="assets/images/carro-dinero.PNG" alt="Imagen de monedas y coche">
      </div>
      <div class="boxB">
          <h2 class="txt-boxB">Estima el financiamiento para tu automóvil y adquiere el vehículo que siempre has anhelado</h2>
          <div>
            <button mat-raised-button routerLink="/plan" class="btn-boxB" style="background-color:rgba(0, 128, 44, 1); color: white;" >Solicitar Crédito</button>
          </div>
      </div>
    </div>
  </div>
</div>
