<div class="app-container">
<mat-toolbar color="primary">
  <img alt="introduction image" src="assets/images/logo.jpeg" class="introduction-image" />
  <span class="example-spacer"></span>
  <button mat-button routerLink="/introduction">Introducción</button>
  <button mat-button routerLink="/plan" routerLinkActive="active-link">Plan de pago</button>
  <!-- Añadir más botones según sea necesario -->
</mat-toolbar>

<div class="content">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Estima el financiamiento para tu automóvil y adquiere el vehículo que siempre has anhelado</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <img mat-card-image src="assets/images/carro-dinero.PNG" alt="Imagen de monedas y coche">
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button routerLink="/plan" color="primary">Solicitar Crédito</button>
    </mat-card-actions>
  </mat-card>
</div>

<footer class="footer">
  <span>© Copyright 2023</span>
</footer>
</div>
