<div class="app-container">
  <mat-toolbar>
    <button mat-button routerLink="/introduction" routerLinkActive="active-link" class="btn-volver" style="color: white;">Volver</button>
    <h3 class="title-nav">Todo lo que debes saber</h3>
    <span class="example-spacer"></span>
    <div class="btn">
      <button class="btn-img" mat-button>
        <img src="assets/images/logo.jpeg" alt="introduction-image" routerLink="/introduction" style="width: 80px; height: 80px">
      </button>
    </div>
    <!-- Añadir más botones según sea necesario -->
  </mat-toolbar>

  <div class="container">
    <div class="master-column">
      <button class="a1" (click)="showContent('Ventajas')" >Ventajas</button>
      <button class="a2" (click)="showContent('Requisitos')">Requisitos</button>
      <button class="a3" (click)="showContent('Tasas')">Tasas</button>
      <button class="a4" (click)="showContent('Consideraciones')">Consideraciones</button>
      <!-- Agrega más botones según sea necesario -->
    </div>
    <div class="detail-column">
      <!--<div *ngIf="selectedContent">
        <h2>{{ selectedContent }}</h2>
        <br>
        <p>{{ contentMap[selectedContent ] }}</p>
      </div>-->
      <div *ngIf="selectedContent">
        <h2>{{ selectedContent }}</h2>
        <br>
        <div *ngFor="let line of contentMap[selectedContent].split('\n')">
          <p>{{ line }}</p>
        </div>
      </div>


    </div>
    <div>
      <button mat-button routerLink="/configuration" routerLinkActive="active-link" class="btn-realizar" style="color: white;">Realizar Calculo</button>
    </div>
    </div>

</div>
